In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.datasets import load_iris

In [18]:
df=pd.read_csv('nba.csv')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(458, 9)

In [4]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [5]:
df.isnull()

      Name   Team  Number  Position    Age  Height  Weight  College  Salary
0    False  False   False     False  False   False   False    False   False
1    False  False   False     False  False   False   False    False   False
2    False  False   False     False  False   False   False    False    True
3    False  False   False     False  False   False   False    False   False
4    False  False   False     False  False   False   False     True   False
..     ...    ...     ...       ...    ...     ...     ...      ...     ...
453  False  False   False     False  False   False   False    False   False
454  False  False   False     False  False   False   False     True   False
455  False  False   False     False  False   False   False     True   False
456  False  False   False     False  False   False   False    False   False
457   True   True    True      True   True    True    True     True    True

[458 rows x 9 columns]

In [6]:
df=df.dropna(subset=['College','Salary'])
cols_with_null_cleaned = df.isnull().any()
print(cols_with_null_cleaned)
# Count of data being null
df.isnull().sum()

Name        False
Team        False
Number      False
Position    False
Age         False
Height      False
Weight      False
College     False
Salary      False
dtype: bool

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [20]:
# Mode of College Columns
# Here as it is String
# So mode() simply returns the most frequently occurring value(s) in the column 
# regardless of whether the data is numeric or text.
print(df["College"].value_counts())
df["College"].mode()

College
Kentucky           22
Duke               20
Kansas             18
North Carolina     16
UCLA               15
                   ..
Utah Valley         1
Cleveland State     1
Iowa State          1
Florida State       1
Baylor              1
Name: count, Length: 118, dtype: int64

0    Kentucky
Name: College, dtype: object

In [21]:
df.groupby('Position')['Age'].mean()

Position
C     27.371795
PF    27.160000
PG    26.847826
SF    26.858824
SG    26.539216
Name: Age, dtype: float64

In [22]:
# Standard deviation
df['Age'].std()

4.4040164244058335

In [10]:
# Group by Position and calculate summary statistics for Age
summary = df.groupby('Position')['Age'].agg(
    mean='mean',
    median='median',
    minimum='min',
    maximum='max',
    std_deviation='std'
)
print(summary)

# Group by postion and average height
summary = df.groupby('Position')['Weight'].agg(
    mean='mean',
    median='median',
    minimum='min',
    maximum='max',
    std_deviation='std'
)
print(summary)

               mean  median  minimum  maximum  std_deviation
Position
C         26.857143    26.0     20.0     40.0       4.203173
PF        26.679012    26.0     20.0     37.0       4.253902
PG        26.750000    27.0     20.0     40.0       3.844043
SF        26.732394    26.0     20.0     38.0       4.322558
SG        26.206897    25.0     19.0     39.0       4.542149
                mean  median  minimum  maximum  std_deviation
Position
C         252.959184   250.0    231.0    279.0      12.690152
PF        239.456790   240.0    200.0    265.0      11.870183
PG        190.276316   190.0    161.0    220.0      11.437481
SF        221.746479   225.0    175.0    260.0      14.315544
SG        206.965517   210.0    175.0    234.0      12.739289

In [23]:
# Display statistics for each species

for sp in df['Team'].unique():
    print(f"\nStatistics for {sp}")
    print(df[df['Team'] == sp].describe())

# for sp in df['College'].unique():
#     print(f"\nStatistics for {sp}")
#     print(df[df['College'] == sp].describe())

Statistics for Boston Celtics
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.400000e+01
mean   31.866667  24.733333  219.466667  4.181505e+06
std    30.300558   2.840188   25.606547  3.146033e+06
min     0.000000  20.000000  180.000000  1.148640e+06
25%     9.500000  22.000000  197.500000  1.909560e+06
50%    28.000000  25.000000  220.000000  3.021242e+06
75%    42.500000  27.000000  236.500000  6.347088e+06
max    99.000000  29.000000  260.000000  1.200000e+07

Statistics for Brooklyn Nets
          Number        Age     Weight        Salary
count  15.000000  15.000000   15.00000  1.500000e+01
mean   18.266667  25.600000  215.60000  3.501898e+06
std    14.104035   3.018988   24.37739  5.317817e+06
min     0.000000  21.000000  175.00000  1.342150e+05
25%     8.000000  23.500000  200.00000  9.472760e+05
50%    15.000000  26.000000  216.00000  1.335480e+06
75%    27.000000  27.500000  220.50000  2.512675e+06
max    44.000000  32.000000  275.00000  1.968900e+07

Statistics for New York Knicks
          Number        Age      Weight        Salary
count  16.000000  16.000000   16.000000  1.600000e+01
mean   13.250000  27.000000  223.625000  4.581494e+06
std    12.964053   4.179314   25.038304  5.952487e+06
min     1.000000  20.000000  195.000000  3.088800e+04
25%     4.750000  23.750000  203.750000  9.217218e+05
50%     8.500000  26.000000  215.000000  2.225421e+06
75%    17.250000  30.500000  240.000000  4.949493e+06
max    43.000000  34.000000  278.000000  2.287500e+07

Statistics for Philadelphia 76ers
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.400000e+01
mean   18.066667  24.600000  222.133333  2.213778e+06
std    14.660280   4.563833   27.015516  1.900402e+06
min     0.000000  20.000000  175.000000  5.250930e+05
25%     6.000000  22.000000  203.000000  9.472760e+05
50%    12.000000  24.000000  215.000000  1.037084e+06
75%    32.000000  25.000000  246.500000  3.310710e+06
max    42.000000  37.000000  275.000000  6.500000e+06

Statistics for Toronto Raptors
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   22.466667  26.133333  221.800000  4.741174e+06
std    25.856380   3.961722   22.662745  4.195943e+06
min     1.000000  20.000000  190.000000  2.451770e+05
25%     5.500000  23.500000  205.000000  1.683000e+06
50%    10.000000  25.000000  220.000000  2.900000e+06
75%    27.500000  29.000000  242.500000  6.634338e+06
max    92.000000  36.000000  255.000000  1.360000e+07

Statistics for Golden State Warriors
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   20.866667  27.666667  224.600000  5.924600e+06
std    11.413442   3.848314   29.642633  5.664282e+06
min     4.000000  20.000000  175.000000  2.897550e+05
25%    11.500000  25.500000  204.500000  1.201462e+06
50%    20.000000  28.000000  220.000000  3.815000e+06
75%    30.500000  30.500000  247.500000  1.154062e+07
max    40.000000  33.000000  273.000000  1.550100e+07

Statistics for Los Angeles Clippers
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   19.533333  29.466667  219.733333  6.323643e+06
std    13.125040   4.897035   28.265240  7.600225e+06
min     3.000000  23.000000  175.000000  1.114440e+05
25%     8.500000  27.000000  195.000000  1.024164e+06
50%    19.000000  29.000000  225.000000  3.110796e+06
75%    31.000000  31.000000  242.500000  8.367500e+06
max    45.000000  39.000000  265.000000  2.146870e+07

Statistics for Los Angeles Lakers
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   16.066667  27.533333  227.066667  4.784695e+06
std    15.285225   5.289702   30.167311  6.835688e+06
min     0.000000  20.000000  175.000000  5.250930e+05
25%     3.500000  23.500000  205.000000  8.961675e+05
50%     9.000000  27.000000  230.000000  1.724250e+06
75%    26.000000  31.000000  250.000000  5.161144e+06
max    50.000000  37.000000  270.000000  2.500000e+07

Statistics for Phoenix Suns
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   15.466667  25.866667  218.600000  4.229676e+06
std    10.405127   4.240395   27.218166  5.022561e+06
min     1.000000  19.000000  175.000000  5.572200e+04
25%     7.000000  22.500000  195.000000  9.643120e+05
50%    15.000000  25.000000  215.000000  2.041080e+06
75%    22.000000  29.000000  241.000000  5.500000e+06
max    35.000000  33.000000  260.000000  1.350000e+07

Statistics for Sacramento Kings
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   16.933333  26.800000  221.333333  4.778911e+06
std    12.002777   3.529468   28.019551  4.701792e+06
min     0.000000  22.000000  175.000000  5.250930e+05
25%     7.500000  24.500000  202.500000  9.983845e+05
50%    15.000000  27.000000  225.000000  3.156600e+06
75%    25.500000  28.500000  239.000000  6.880303e+06
max    41.000000  36.000000  270.000000  1.585195e+07

Statistics for Chicago Bulls
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   19.200000  27.400000  218.933333  5.785559e+06
std    17.193022   4.188419   29.336634  6.251088e+06
min     0.000000  21.000000  161.000000  5.250930e+05
25%     5.500000  24.500000  195.500000  1.203290e+06
50%    16.000000  27.000000  225.000000  2.380440e+06
75%    28.000000  30.500000  231.000000  7.974380e+06
max    55.000000  35.000000  275.000000  2.009306e+07

Statistics for Cleveland Cavaliers
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.400000e+01
mean   14.466667  29.533333  227.866667  7.642049e+06
std    13.809245   4.120795   27.655706  7.730329e+06
min     0.000000  24.000000  179.000000  1.111960e+05
25%     4.500000  25.000000  208.000000  1.179457e+06
50%    12.000000  30.000000  225.000000  4.975000e+06
75%    21.500000  33.000000  250.500000  1.294284e+07
max    52.000000  35.000000  275.000000  2.297050e+07

Statistics for Detroit Pistons
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   17.266667  26.200000  222.200000  4.477884e+06
std    15.303906   4.443294   28.899333  4.668478e+06
min     0.000000  20.000000  172.000000  1.114440e+05
25%     5.500000  23.000000  205.000000  1.711452e+06
50%    13.000000  25.000000  210.000000  2.891760e+06
75%    23.500000  28.500000  242.500000  5.635000e+06
max    50.000000  36.000000  279.000000  1.600000e+07

Statistics for Indiana Pacers
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   18.933333  26.400000  222.266667  4.450122e+06
std    15.988686   3.157757   25.982045  4.584514e+06
min     0.000000  20.000000  180.000000  2.117440e+05
25%     4.000000  24.500000  200.000000  1.053513e+06
50%    13.000000  27.000000  225.000000  4.000000e+06
75%    30.500000  29.000000  246.500000  5.697112e+06
max    44.000000  30.000000  255.000000  1.712011e+07

Statistics for Milwaukee Bucks
          Number        Age      Weight        Salary
count  16.000000  16.000000   16.000000  1.600000e+01
mean   20.000000  24.562500  224.062500  4.350220e+06
std    17.485232   3.520772   24.340553  4.875071e+06
min     3.000000  19.000000  190.000000  2.953270e+05
25%    10.500000  21.000000  201.500000  1.483589e+06
50%    17.500000  24.500000  223.500000  2.254167e+06
75%    21.250000  27.000000  246.750000  5.514330e+06
max    77.000000  32.000000  265.000000  1.640750e+07

Statistics for Dallas Mavericks
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   20.000000  29.733333  227.000000  4.746582e+06
std    16.252472   3.712271   27.836256  5.030279e+06
min     1.000000  22.000000  185.000000  5.250930e+05
25%     6.000000  28.000000  202.500000  1.185783e+06
50%    21.000000  31.000000  230.000000  3.950313e+06
75%    30.500000  31.500000  245.000000  5.289487e+06
max    50.000000  37.000000  275.000000  1.640750e+07

Statistics for Houston Rockets
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   14.666667  26.866667  220.333333  5.018868e+06
std    12.505237   4.323799   24.578349  6.414749e+06
min     0.000000  22.000000  185.000000  2.006000e+05
25%     5.500000  23.500000  202.500000  9.736380e+05
50%    12.000000  27.000000  222.000000  2.288205e+06
75%    25.500000  30.000000  237.500000  7.339758e+06
max    35.000000  38.000000  265.000000  2.235936e+07

Statistics for Memphis Grizzlies
          Number        Age      Weight        Salary
count  18.000000  18.000000   18.000000  1.400000e+01
mean   15.555556  28.388889  218.000000  5.467920e+06
std    14.030313   5.585052   30.624865  5.201676e+06
min     0.000000  21.000000  165.000000  7.009020e+05
25%     5.500000  24.000000  194.750000  1.274280e+06
50%    10.500000  28.000000  223.000000  4.544010e+06
75%    21.250000  33.250000  236.750000  8.116000e+06
max    50.000000  39.000000  270.000000  1.968800e+07

Statistics for New Orleans Pelicans
        Number        Age     Weight        Salary
count  19.0000  19.000000   19.00000  1.900000e+01
mean   17.0000  26.894737  221.00000  4.355304e+06
std    14.0119   2.233451   25.73152  4.537874e+06
min     0.0000  23.000000  170.00000  5.572200e+04
25%     4.5000  25.000000  207.50000  9.813485e+05
50%    15.0000  27.000000  220.00000  2.850000e+06
75%    27.5000  28.500000  235.00000  7.785365e+06
max    44.0000  31.000000  270.00000  1.551403e+07

Statistics for San Antonio Spurs
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   17.933333  31.600000  223.933333  5.629516e+06
std    11.067757   5.766901   29.711630  6.396804e+06
min     1.000000  22.000000  185.000000  2.006000e+05
25%    10.500000  27.000000  199.500000  1.045078e+06
50%    17.000000  33.000000  230.000000  2.814000e+06
75%    23.500000  35.500000  245.000000  8.750000e+06
max    40.000000  40.000000  290.000000  1.968900e+07

Statistics for Atlanta Hawks
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   19.000000  28.200000  221.266667  4.860197e+06
std    11.476684   4.229151   25.982045  5.194508e+06
min     0.000000  22.000000  172.000000  5.250930e+05
25%    11.500000  24.000000  203.000000  1.152260e+06
50%    17.000000  27.000000  225.000000  2.854940e+06
75%    25.500000  31.000000  242.500000  6.873240e+06
max    43.000000  35.000000  260.000000  1.867166e+07

Statistics for Charlotte Hornets
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   17.133333  26.133333  220.400000  5.222728e+06
std    16.672761   3.159265   29.908909  4.538601e+06
min     0.000000  21.000000  184.000000  1.894550e+05
25%     4.000000  23.500000  200.000000  1.543138e+06
50%    12.000000  27.000000  210.000000  4.204200e+06
75%    27.500000  28.500000  240.000000  6.665702e+06
max    50.000000  31.000000  289.000000  1.350000e+07

Statistics for Miami Heat
          Number        Age     Weight        Salary
count  15.000000  15.000000   15.00000  1.300000e+01
mean   10.466667  28.933333  218.40000  6.347359e+06
std    10.377632   4.861902   26.48126  7.848628e+06
min     0.000000  20.000000  165.00000  2.618940e+05
25%     3.500000  25.000000  202.50000  9.472760e+05
50%     8.000000  30.000000  220.00000  2.481720e+06
75%    13.000000  32.500000  237.50000  1.015161e+07
max    40.000000  36.000000  265.00000  2.219273e+07

Statistics for Orlando Magic
          Number        Age      Weight        Salary
count  14.000000  14.000000   14.000000  1.400000e+01
mean   16.428571  25.071429  213.357143  4.297248e+06
std    16.411601   3.429830   30.047673  3.068412e+06
min     0.000000  20.000000  169.000000  8.450590e+05
25%     5.500000  23.000000  188.750000  2.311302e+06
50%    10.500000  24.500000  214.000000  3.956580e+06
75%    20.750000  26.000000  238.750000  5.144390e+06
max    55.000000  32.000000  260.000000  1.125000e+07

Statistics for Washington Wizards
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   17.600000  27.866667  219.000000  5.088576e+06
std    22.610996   4.389381   21.672893  4.869388e+06
min     1.000000  20.000000  190.000000  2.006000e+05
25%     5.500000  24.500000  201.500000  1.510421e+06
50%    12.000000  29.000000  218.000000  4.000000e+06
75%    19.000000  31.000000  241.000000  6.847337e+06
max    90.000000  34.000000  250.000000  1.585195e+07

Statistics for Denver Nuggets
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.400000e+01
mean   15.266667  25.733333  217.533333  4.294424e+06
std    19.655849   4.742915   26.297384  4.320214e+06
min     0.000000  20.000000  175.000000  2.584890e+05
25%     4.000000  22.000000  205.000000  1.615790e+06
50%     9.000000  25.000000  218.000000  2.907000e+06
75%    18.000000  28.000000  226.500000  4.142083e+06
max    77.000000  36.000000  280.000000  1.400000e+07

Statistics for Minnesota Timberwolves
          Number        Age      Weight        Salary
count  14.000000  14.000000   14.000000  1.300000e+01
mean   19.571429  26.357143  228.642857  4.593054e+06
std    21.964007   5.930458   30.890893  4.139625e+06
min     1.000000  20.000000  189.000000  9.472760e+05
25%     8.250000  21.500000  202.250000  1.474440e+06
50%    13.000000  25.000000  233.500000  2.148360e+06
75%    21.750000  28.750000  240.750000  5.758680e+06
max    88.000000  40.000000  307.000000  1.270000e+07

Statistics for Oklahoma City Thunder
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   14.000000  27.066667  229.400000  6.251020e+06
std    12.130246   4.832430   22.260792  6.632400e+06
min     0.000000  21.000000  185.000000  2.228880e+05
25%     4.500000  24.000000  211.500000  1.742280e+06
50%    11.000000  26.000000  230.000000  3.344000e+06
75%    21.500000  29.000000  247.500000  8.694215e+06
max    35.000000  38.000000  255.000000  2.015862e+07

Statistics for Portland Trail Blazers
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   16.000000  25.066667  218.600000  3.220121e+06
std    13.711309   3.634491   25.178789  2.392741e+06
min     0.000000  20.000000  173.000000  5.250930e+05
25%     4.500000  23.000000  203.000000  1.181398e+06
50%    11.000000  24.000000  215.000000  2.854940e+06
75%    23.500000  26.500000  240.000000  4.626144e+06
max    44.000000  34.000000  265.000000  8.042895e+06

Statistics for Utah Jazz
          Number        Age      Weight        Salary
count  15.000000  15.000000   15.000000  1.500000e+01
mean   17.866667  24.466667  220.000000  4.204006e+06
std    11.432202   2.445599   24.695286  4.467878e+06
min     2.000000  20.000000  179.000000  9.000000e+05
25%     9.000000  23.000000  204.500000  1.262160e+06
50%    20.000000  24.000000  226.000000  2.433333e+06
75%    24.500000  26.000000  232.500000  4.276360e+06
max    41.000000  28.000000  265.000000  1.540957e+07

Statistics for nan
       Number  Age  Weight  Salary
count     0.0  0.0     0.0     0.0
mean      NaN  NaN     NaN     NaN
std       NaN  NaN     NaN     NaN
min       NaN  NaN     NaN     NaN
25%       NaN  NaN     NaN     NaN
50%       NaN  NaN     NaN     NaN
75%       NaN  NaN     NaN     NaN
max       NaN  NaN     NaN     NaN